* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  text-align: center;
}
body {
  padding: 10px;
}
.container{
  width: 80%;
  margin: auto;
  text-align: center;
}
.row {
  /* background: red; */
  margin-bottom: 20px;
}
.box:hover {
  cursor: pointer;
}
.box {
  position: relative;
  display: inline-block;
}
.box .discount {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: green;
}
.box:nth-child(2n) .discount {
  background: red;
}
.box .heart {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: red;
  font-size: 25px;
  display: none;
}
.box:hover .heart {
  display: block;


}
